<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div>
        <div id="sidebar">
            <a href="#">אודות</a>
            <a href="#">צור קשר</a>
        </div>
        <div id="main">
            <h1>אודות</h1>
            <img src="https://www.talkwalker.com/images/2020/blog-headers/image-analysis.png" />
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. <br>
                 Laboriosam reiciendis aperiam voluptate
                delectus, recusandae molestiae ipsa repellat iure veniam facere reprehenderit deserunt voluptas magni
                illum? Similique expedita iusto consectetur deleniti.
            </p>
        </div>
    </div>
</body>

</html>